/* Importa a fonte Chakra Petch do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: "Chakra Petch", sans-serif;
    background-color: #dddddd;
    display: flex; /* flexbox para layout */
    flex-direction: column; /* alinha os itens na vertical */
    align-items: center;  /* centraliza os itens horizontalmente */
    justify-content: center; /* centraliza os itens verticalmente */
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
    color: #222831;
    text-align: center;
    letter-spacing: 0.4rem; /* espaçamento do texto */
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem; /* espaçamento abaixo de cada seção */
}

section input {
    width: 30rem;
    border: none;
    padding: 1rem; /* espaçamento interno */
    border-radius: 1.5rem;
    margin-bottom: 1rem; /* espaçamento abaixo dos inputs */
    color: #45474b;
    font-size: 1rem;
    box-sizing: border-box; /* inclui padding e border na largura total */
}

section button {
    padding: 0.8rem 1.2rem; /* espaçamento interno do botão */
    border: none;
    border-radius: 1.5rem;
    background-color: #30475e;
    color: #f5f7f8; /* cor do texto do botão */
    font-size: 1rem;
    cursor: pointer; /* indica que o cursor é clicável */
}

section button:hover {
    background-color: #30475e;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* adiciona uma sombra mais intensa */
}

footer {
    background-color: #f5f7f8;
    color: #45474b;
    text-align: center;
    padding: 0;
    width: 100%; /* largura total da página */
    position: absolute; /* posiciona o rodapé */
    bottom: 0; /* alinha ao fundo da página */
    font-size: 1rem;
}

footer > p {
    margin: 0.5rem; 
}